@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Source+Sans+Pro:wght@200;300;400;600&display=swap');
a {
  text-decoration: none;
}

.cta-empty {
  border: 1px solid #242424;
  padding: 0.5rem 2.5rem;
  color: #242424;
  margin-left: 2rem;
  transition: all 0.35s ease-in-out;
  background-color: transparent;
  text-decoration: none;

  &:hover {
    color: #EDF4F5;
    background-color: #242424;
  }
}

.cta-full {
  border: 1px solid #242424;
  padding: 0.5rem 2.5rem;

  color: #EDF4F5;
  margin-left: 2rem;
  transition: all 0.35s ease-in-out;
  
  background-color: #242424;
  text-decoration: none;

  &:hover {
    color: #242424;
    background-color: transparent;
  }
}




h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather';
}

h2.section-heading {
  font-size: clamp(1.75rem, 4vw + 1rem, 4.75rem);
  text-transform: lowercase;
  margin-bottom: 3rem;
  position: relative;
  // display: flex;

  // &:before {
  //   content: '';
  //   // position: absolute;
  //   height: 2px;
  //   width: 3.5rem;
  //   top: 0rem;
  //   left: 0rem;
  //   background: #242424;
  // }
}

h2.section-heading_small {
  font-size: clamp(1.75rem, 4vw + 1rem, 2.25rem);
}

h3.section-heading_small {
  font-size: clamp(1.75rem, 4vw + 1rem, 2rem);
}
p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 0;
}

#category {
  font-family: Staatliches;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}

/*  */

img:hover {
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

body {
  background-color: #EDF4F5;
}

.page-wrapper {
  padding: 1%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2rem;


  .sidenav {
    transform: translateX(-100%);
    transition: all 0.45s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100vh;
    
    top: 0;
    left: 0;
    background-color: #242424;

    &.opened {
     
      transform: translateX(0);
    }
  }

  .language-switcher {
    border: 0;
    background: transparent;
    outline: 0;
    font-size: 1rem;
  }


}

.button-wrapper {
  width: 33%;
  position: relative;
  button {
    z-index: 100;
  }
  
}

.right-nav {
  width: 33%;
  display: flex;
  justify-content: flex-end;
  a {
    border: 1px solid #242424;
    padding: 0.5rem 2.5rem;
    color: #242424;
    margin-left: 2rem;
    transition: all 0.35s ease-in-out;
    background-color: transparent;
    text-decoration: none;

    &:hover {
      color: #EDF4F5;
      background-color: #242424;
    }
  }
}

.reserve-button {
  border: 1px solid #242424;
  padding: 0.5rem 1.5rem;

}

.intro-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 15rem 0;
  width: 100%;
  height: 100vh;

  &_content {
    align-self: flex-start;
    width: 70%;
  }

  &div:nth-of-type(2) {
    max-width: 600px !important;
  }
}

.image-container {
  display: flex;
  width: 70%;
  margin-top: 6rem;
  align-items: flex-start;
  justify-content: flex-end;


  > div {
    position: unset !important;
    margin-right: 0.75rem !important;
    width: 100%;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    
  }
}

.bedrooms-section {
  display: flex;
  
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 15rem 0;
  width: 100%;
  height: 100vh;

  &_content {
    width: 35%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    p {
      &:first-of-type {
        margin-bottom: 1.5rem;
      }
    }
    
    a {
      margin-top: 3rem;
      display: block;
      padding-bottom: 0.25rem;
      border-bottom: 1px solid transparent;
      transition: all 0.35s ease-in-out;
      color: #242424;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid #242424;
      }
    }
  }
}

.bedrooms-image-container {
  display: flex;
  width: 55%;
  margin-top: 6rem;
  align-items: flex-start;
  justify-content: flex-end;


  > div {
    position: unset !important;
    margin-right: 0.75rem !important;
    width: 100%;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    
  }
}

.quote-section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10rem;
  h3 {
    width: 60%;
  }
}

.dining-section_images {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}


.dining-section_images-card {
  display: flex;
  width: 31%;
  //margin-top: 6rem;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;


  > div {
    position: unset !important;
    margin-right: 0.75rem !important;
    width: 100%;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    
  }

  h3 {
    font-size: clamp(0.85rem, 4vw + 1rem, 1.35rem);
    text-transform: uppercase;
    margin: 0.75rem 0;
  }
  p {
    margin: 0;
  }

  a {
    margin-top: 3rem;
    display: block;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    color: #242424;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #242424;
    }
  }
}

.quote-section {
  margin-top: 10rem;
  padding: 6rem 0;
}

.wellness-section_images {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  
}


.wellness-section_images-card {
  display: flex;
  
  //margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  &:first-of-type {
    width: 65%;
    margin-right: 5%;

    p {
      width: 50%;
    }
  }

  &:nth-of-type(2) {
    width: 30%;
  }

  > div {
    position: unset !important;
    margin-right: 0.75rem !important;
    width: 100%;
    height: 100%;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    
  }

  h3 {
    font-size: clamp(0.85rem, 4vw + 1rem, 1.35rem);
    text-transform: uppercase;
    margin: 0.75rem 0;
  }
  p {
    margin: 0;
  }

  a {
    margin-top: 3rem;
    display: block;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    color: #242424;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #242424;
    }
  }
}

.work-section {
  width: 80%;
  margin-top: 10rem;

  &_content {
    display: flex;
  }

  .cta-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3rem 0;

    a {
      width: 300px;
      text-align: center;
      &:first-of-type {
        border: 1px solid #242424;
        padding: 0.85rem 0rem;
        color: #242424;
        //margin-left: 2rem;
        transition: all 0.35s ease-in-out;
        background-color: transparent;
        text-decoration: none;
      
        &:hover {
          color: #EDF4F5;
          background-color: #242424;
        }
      }

      &:nth-of-type(2) {
        border: 1px solid #242424;
        padding: 0.85rem 0rem;
      
        color: #EDF4F5;
        margin-left: 2rem;
        transition: all 0.35s ease-in-out;
        
        background-color: #242424;
        text-decoration: none;
      
        &:hover {
          color: #242424;
          background-color: transparent;
        }
      }
    }
  }
}


.detail-table {
  width: 35%;
  display: flex;
  flex-direction: column;

  &_row {
    padding-bottom: 0.35rem;
    margin-bottom: 1.05rem;
    border-bottom: 1px solid #242424;

    display: flex;
    justify-content: space-between;
  }

  &_column {
    width: 50%;
    text-transform: lowercase;

    &.left {
      font-weight: bold;
    }
  }
}

.work-paragraph {
  margin-left: 2.5%;
  width: 65%;
}

.work-section_images {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2rem;
  
}


.work-section_images-card {
  display: flex;
  
  //margin-top: 6rem;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  &:first-of-type {
    width: 35%;
    margin-right: 2.5%;

    p {
      width: 50%;
    }
  }

  &:nth-of-type(2) {
    width: 65%;
  }

  > div {
    position: unset !important;
    margin-right: 0.75rem !important;
    width: 100%;
    height: 100%;

    &:last-of-type {
      margin-right: 0 !important;
    }
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    
  }

  h3 {
    font-size: clamp(0.85rem, 4vw + 1rem, 1.35rem);
    text-transform: uppercase;
    margin: 0.75rem 0;
  }
  p {
    margin: 0;
  }

  a {
    margin-top: 3rem;
    display: block;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    color: #242424;
    text-decoration: none;

    &:hover {
      border-bottom: 1px solid #242424;
    }
  }
}